body{
	margin: 0;
	background: #FFFDF7;
	place-items: center;
}

#banner{
	width: 100%;
	height: 800px;
	background-size: cover;
    background-position: center;
}

#Titulo{
text-align: center;
color: #0e0332;
font-family: "Poppins";
font-size:large;
margin-top: 100px;
}

@font-face {
    font-family:"Titulo" ;
    src: url(fontes/Colmeak.otf);
}

@font-face {
	font-family: Poppins;
	src: url(fontes/Poppins-Regular.ttf);
}

#subtitulo{
border-radius: 15px;
}

#conteudo{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
margin: 55px;
padding: 0%;

border-radius: 8px;
}

#rodape{
	color: #777;
	text-align: center;
	bottom: 0;
	padding: 10px;
	background: #FFFDF7;
	width: 98.7%;
}

#container{
display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    padding: 4rem;
	align-items: stretch;
}

#conteudo2{
margin: 0px;
padding: 8px;
width: 95%;
text-align: left;
color: #0e0332;
text-align:left;
font-size: 1.1em;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
box-shadow:4px 4px 8px #999;
background-color: #FFFDF7;
border-radius: 8px;
}

#conteudo3{
margin: 0px;
padding: 8px;
width: 95%;
text-align: left;
color: #0e0332;
text-align:left;
font-size: 1.1em;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
box-shadow:4px 4px 8px #999;
background-color: #FFFDF7;
border-radius: 8px;
}

#tituloBio{
text-align: center;
font-family: "Poppins";
}

#conteudoCursos{
margin: 0px;
padding: 8px;
width: 95%;
text-align: left;
color: #0e0332;
font-size: 1.1em;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
box-shadow:4px 4px 8px #999;
background-color: #FFFDF7;
border-radius: 8px;
}

#conteudo4{
margin: 0px;
padding: 8px;
width: 95%;
text-align: left;
color: #0e0332;
font-size: 1.1em;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
box-shadow:4px 4px 8px #999;
background-color: #FFFDF7;
border-radius: 8px;
}

#conteudo5{
margin: 0px;
padding: 8px;
width: 95%;
text-align: left;
color: #0e0332;
font-size: 1.1em;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
box-shadow:4px 4px 8px #999;
background-color: #FFFDF7;
border-radius: 8px;
}

a:hover{
color:#341b89;
text-decoration: none;
border-bottom: 3px solid #341b89;
border-radius: 4px;
transition: 0.2s ease;
}

nav a{
	display: inline-block;
	color: #0e0332;
	text-decoration: none;
	font-weight: bold;
	padding: 8px;
	margin: 3px;
	flex: 1;
	border-radius: 8px;
	font-family: "Poppins" ;
	transition: 750ms;
	font-size: 0.9rem;
	position: sticky;
}

nav a:hover{
	color: #341b89;
}

#menu{
background: linear-gradient(#FFF);    background-size: cover;
    position: sticky;
    top: 0;
    z-index: 100px;
	border-radius: 5px;
	padding: 0%;
	text-align: center;
	width: 100%;
	justify-items: flex-end;
	box-shadow:4px 4px 8px #999;
}

#textoMenu{
display: flex;
padding: 10px;
margin: 0px;
text-align: center;
justify-content: space-between
}

#navegacao{
	unicode-bidi: isolate;
}